/*! CSS bare bones for recipes site */

 html {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* the rest is up to you */

@keyframes fadeIn{

 0% { opacity : 0; }
 100% { opacity: 1;}
 
}

body {
  background-color: #F8EAD8;
}
h1 {
  color: #9F8772;
  margin-bottom: 24px;
  text-align: center;
  font-family: 'Tilt Warp', Cursive;
}

h2 {
  color: green;
  margin: 0 0 12px 0;
}

.cover {
 margin-top: 10px;
 margin-left: 10px;
 padding: 8x;
 height: 500px;
 border: 2px dotted black;
 border-radius: 20px;
}

h1,h2 {
}

p {
  color: #594545;
  margin-bottom: 1em;
}

main {
 
width: 60%;
max-width: 800px;
border: 1px solid gray;
padding: 0 24px;
margin: 0 auto;
background-color: #FAF7F0;
border-radius: 40px;
animation: fadeIn 2s;
box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
 
}

footer {

 font-size: 10px;
 text-align: center;
 
}

img {
  width: 60%;
  height: 60%;
  float: right;
}

ul {
  margin-left: 20px;
  /* columns: 2; */
  /* column-rule: 1px solid blue; */
}

.rep_but {
  border-radius: 3px;
  border-style: inset;
  border-color: #FAF7F0;
  height: 30px;
  width: 180px;
}

li {
  font-size: .8em;
  margin-bottom: 12px;
  list-style-position: inside;
}

.caption {
  font-size:.8em;
  float:right;
  width:60%;
}


